@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@model WasteNotBE.Models.WishList

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Html.DisplayFor(model => model.Title)</h1>    
@if (User.Identity.Name == Model.User.UserName)
{
    <p><a asp-controller="WishLists" asp-action="Delete" asp-route-id="@Model.Id" class="profile-wishlist-header">Delete WishList</a></p>
}
<hr />
<table>
    <div class="homepage-div">
        @foreach (var item in Model.WishListItems)
        {
            <div class="homepage-item">
                <a asp-controller="Items" asp-action="Details" asp-route-id="@item.Item.Id">
                    <img src="@Html.DisplayFor(modelItem => item.Item.PhotoUrl)" />
                </a><br />
                @if (User.Identity.Name == Model.User.UserName)
                {
                    <a asp-controller="WishListItems" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
            </div>
        }
    </div>

</table>



