@model WasteNotBE.Models.ApplicationUserViewModels.ProfileViewModel

@{
    ViewData["Title"] = "UserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.PhotoURL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.PhotoURL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Story)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Story)
        </dd>

    </dl>
    @foreach (var item in Model.UserWishLists)
    {
        <p>@Html.DisplayFor(modelItem => item.Title)</p>
    }
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
